<!DOCTYPE html>
<html>
  <head>
    <title>
      Index
    </title>
  </head>
  <body>
    <h1> Buster's Best Bowling Alley</h1>
    <p> 97 Bowling Alley Lane, Boulder CO </p>
    <h2> Bet You Can't Bowl A Strike Every Time</h2>
  </body>
</html>